.product-card-cart {
  border-radius: 10px;
  transition: transform 0.2s ease-in-out;
}

.product-card-cart:hover {
  transform: scale(1.02);
}

.card-title {
  font-size: 1.2rem;
}

.card-text {
  font-size: 1rem;
}
