.navbar {
  background-color: #1c1c1c !important; /* Color oscuro del logo */
  color: #ffffff; /* Asegura que el texto sea blanco */
}

.navbar-logo {
  max-height: 50px !important;
  width: auto;
  object-fit: contain;
  margin: 0 10px;
}

.navbar .nav-link {
  color: #ffffff !important; /* Color del texto */
  transition: color 0.3s; /* Transición suave en el hover */
}

.navbar .nav-link:hover {
  color: #0abde3 !important; /* Color más claro al pasar el mouse */
}
